/* General styling for the entire body of the page */
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #2a2968;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #2a2968;
  overflow: hidden; /* Prevent scrolling */
  position: relative;
}

/* Styling for the result container */
.result-container {
  background-color: #ecf0f1;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  max-width: 900px;
  text-align: center;
  overflow: hidden; /* Hide overflow for fireflies */
  position: relative;
  z-index: 1;
}

/* Styling for the circular score display */
.score-circle {
  display: inline-block;
  background-color: #fff;
  color: #2a2968;
  border-radius: 50%;
  padding: 20px 37px;
  font-size: 3rem;
}

/* Styling for the dashboard section */
.dashboard {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

/* Styling for individual dashboard items */
.dashboard-item {
  text-align: center;
  font-weight: 600;
  line-height: 0;
}

.dashboard-item h2 {
  font-size: 1.1rem !important;
  font-weight: 400;
}

/* Styling for the comment section */
.comment {
  margin-top: 30px;
  font-size: 1.5rem;
  color: #2a2968;
  font-weight: 600;
}

/* Styling for the play-again button */
.play-again-button {
  background-color: #ffffff73;
  color: #2980b9;
  outline: 1px solid #2980b9;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-top: 20px;
  transition: all 0.3s;
}

.play-again-button:hover {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #2a2968;
  outline: none;
}

.play-again-button i {
  transition: transform 0.3s ease-in; /* Add this line for the icon transition */
}

.play-again-button:hover i {
  transform: rotate(-270deg); /* Adjust the rotation angle as needed */
}

/* Styling for the share button */
.share-button {
  margin: 25px;
  display: inline-block;
  margin-right: 10px;
  color: #fff;
  background-color: #3498db;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.8rem;
  text-decoration: none;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.share-button:hover {
  background-color: #2980b9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Styling for the firefly animation */
.firefly {
  position: absolute;
  background-color: #f8f8f8;
  border-radius: 50%;
  width: 4px;
  height: 4px;
  opacity: 0.8;
  animation: moveFirefly 5s infinite, changeSize 2s infinite alternate;
}

/* Keyframes for firefly movement */
@keyframes moveFirefly {
  0%, 100% {
    transform: translate(0, 0) scale(1);
  }
  25% {
    transform: translate(20px, -20px) scale(1.5);
  }
  50% {
    transform: translate(40px, 0) scale(1);
  }
  75% {
    transform: translate(20px, 20px) scale(1.5);
  }
}
